.features__item {
  color: $description-color;
  padding-top: 20px;
  padding-bottom: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;

  &--display {
    @include font-medium();
    height: 420px;
    background-image: url("../../img/display-mobile.png");
    background-color: $blue-background;
  }

  &--light {
    .features__item-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      &::after {
        content: "";
        display: block;
        width: 250px;
        height: 285px;
        background-repeat: no-repeat;
        background-image: url("../../img/light.jpg");
        background-size: 250px auto;
        background-position: center bottom;
      }
    }
  }

  &--battery {
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      content: "";
      width: 250px;
      height: 250px;
      background-repeat: no-repeat;
      background-image: url("../../img/battery-mob.png");
      background-size: 250px auto;
      background-position: center bottom;
    }
  }

  &--main-camera {
    padding-top: 140px;
    padding-bottom: 50px;
    color: $second-font-color;
    background-image: url("../../img/main-camera-mob.png");
    background-size: cover;

    .features__item-title {
      color: $second-font-color;
      text-shadow: 2px 2px 3px $description-color;
    }

    .features__item-description {
      text-shadow: 2px 2px 3px $description-color;
    }
  }

  &--main-camera-compare {
    color: $second-font-color;
    padding-top: 20px;
    padding-bottom: 50px;
    background-image: url("../../img/compare-background-mob.png");
    background-size: cover;

    .features__item-title {
      color: $second-font-color;
      text-shadow: 2px 2px 3px $description-color;
    }

    .features__item-description {
      margin: 0;
      margin-bottom: 40px;
      text-shadow: 2px 2px 3px $description-color;
    }

    .features__item-compare-list {
      display: block;
      margin: 0 auto;
      width: 250px;
      height: 410px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../../img/compare-camera-mob.png");
    }
  }

  &--selfie-camera {
    background-color: $background-color;

    .features__item-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      &::after {
        content: "";
        width: 250px;
        height: 350px;
        background-image: url("../../img/selfie.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &--memory {
    padding-bottom: 0;
    position: relative;
  }

  &--sound {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 0;
    margin-top: -17px;
    background-color: $dark-blue;

    &::after {
      content: "";
      width: 100%;
      height: 240px;
      background-size: cover;
      background-image: url("../../img/sound-mob.png");
      background-repeat: no-repeat;
      background-position: center bottom;
    }

    .features__item-main-title {
      margin: 0;
      margin-bottom: 20px;
      color: $second-font-color;
      font-size: 20px;
      font-weight: bold;
    }

    .features__item-title {
      color: $second-font-color;
    }

    .features__item-description {
      color: $second-font-color;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &--gallery {
    margin-bottom: 30px;

    .features__item-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      &::after {
        content: "";
        width: 250px;
        height: 510px;
        background-image: url("../../img/app.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
      }
    }

    .features__item-main-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      margin-bottom: 20px;

      &::before {
        content: "";
        width: 50px;
        height: 50px;
        margin-right: 20px;
        background-image: url("../../img/huawei-app.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &--notice {
    border-top: 2px solid rgba(156, 156, 156, 0.5);
  }
}

.features__item-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: $title-color;
}

.features__item-description {
  margin: 0;
  margin-bottom: 50px;
}

.features__item-banner-title {
  padding: 150px 0;
  font-size: 36px;
  font-weight: bold;
  color: $second-font-color;
  text-transform: uppercase;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../img/memory-mob.png");
}

@media (min-width: $tablet-width) {
  .features__item-title {
    font-size: 26px;
  }

  .features__item {
    padding: 30px 0;

    &--display {
      background-image: url("../../img/display.jpg");
      background-size: cover;
      height: 520px;
    }

    &--light {
      .features__item-content {
        flex-direction: row;

        div {
          width: 50%;
        }

        &::after {
          flex-grow: 1;
          width: 330px;
          height: 384px;
          background-size: contain;
        }
      }
    }

    &--battery {
      &::after {
        width: 550px;
        height: 460px;
        background-image: url("../../img/battery-desck.png");
        background-size: contain;
      }
    }

    &--main-camera {
      background-image: url("../../img/main-camera.png");
      height: 536px;
      padding-top: 255px;
      padding-bottom: 40px;
    }

    &--main-camera-compare {
      background-image: url("../../img/compare-background.png");

      .features__item-compare-list {
        width: 650px;
        height: 300px;
        background-image: url("../../img/compare-camera-desk.png");
      }
    }

    &--selfie-camera {
      .features__item-content {
        flex-direction: row;
        align-items: center;

        div {
          width: 95%;
        }

        &::after {
          width: 100%;
          height: 450px;
          background-size: contain;
        }
      }
    }

    &--memory {
      padding-bottom: 0;
    }

    &--sound {
      padding-bottom: 0;

      &::after {
        height: 450px;
        background-image: url("../../img/sound.png");
      }

      .features__item-main-title {
        font-size: 28px;
      }
    }

    &--gallery {
      .features__item-content {
        flex-direction: row;
        justify-content: space-between;

        div {
          width: 50%;
        }

        &::after {
          width: 350px;
          height: 540px;
        }
      }
    }
  }

  .features__item-banner-title {
    font-size: 100px;
    text-shadow: 5px 4px 5px $description-color;
    font-weight: 800;
    background-image: url("../../img/memory.png");
    padding: 110px 0;
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    &--display {
      height: 660px;
    }

    &--light {
      .features__item-content {
        &::after {
          width: 100%;
          height: 570px;
        }
      }
    }

    &--battery {
      &::after {
        width: 660px;
        height: 550px;
      }
    }

    &--main-camera {
      width: 100%;
      height: 700px;
      padding-top: 320px;
    }

    &--main-camera-compare {
      .features__item-compare-list {
        width: 770px;
        height: 370px;
      }
    }

    &--selfie-camera {
      .features__item-content {
        &::after {
          height: 560px;
          width: 65%;
        }
      }
    }

    &--memory {
      .features__item {
        padding: 0;
      }
    }

    &--sound {
      margin-top: -65px;
      padding-top: 60px;
      position: relative;
      z-index: -10;

      &::after {
        height: 675px;
      }

      .features__item-main-title {
        font-size: 42px;
      }
    }

    &--gallery {
      .features__item-content {
        &::after {
          width: 500px;
          height: 600px;
        }
      }
    }
  }

  .features__item-title {
    font-size: 36px;
  }

  .features__item-banner-title {
    padding: 235px 0;
    width: 100%;
    height: 610px;
    background-size: auto;
    background-image: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      display: block;
      width: 100%;
      height: 585px;
      background-size: cover;
      background-image: url("../../img/memory.png");
    }
  }
}
