.logo {
  display: block;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .logo {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 50px;
  }

  .logo__img {
    width: fill;
  }
}
