.main-nav {
  order: -1;
}

a {
  &:active,
  &:focus {
    color: $hover-color;
  }
}

.main-nav__menu {
  @include list-reset();
}

.main-nav__title-mobile {
  padding: 15px 40px;
  background-color: $border-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -39.5px;
    left: 45px;
    border: 20px solid transparent;
    border-top: 20px solid $border-color;
  }
}

.menu__item {
  padding: 25px 20px;
  font-size: 17px;
  border: 1px solid $border-color;
  border-top: none;
}

.submenu {
  @include list-reset();
  font-size: inherit;
  display: none;

  position: absolute;
  bottom: -80px;
  left: 17px;
  text-align: left;
}

.submenu__item {
  padding: 10px 50px;
  border: 1px solid $border-color;
  background-color: $second-font-color;
}

.submenu__item-link {
  color: inherit;
  text-decoration: inherit;

  &:hover,
  &:active,
  &:focus {
    color: $hover-color;
  }
}

.menu__item-link {
  color: $description-color;
  text-decoration: none;
}

@media (min-width: $desktop-width) {
  .main-nav {
    order: 0;
  }

  .main-nav__title-mobile {
    display: none;
  }

  .main-nav__menu {
    display: flex;
    flex-direction: row;
  }

  .menu__item {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid $border-color;

    &--promotion {
      background-color: $hover-color;

      a {
        color: $second-font-color;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        box-shadow: inset 0 3px 3px $hover-color;

        a {
          color: $description-color;
        }
      }
    }

    &--submenu {
      &:hover,
      &:active,
      &:focus {
        color: $hover-color;

        .submenu {
          display: block;
          color: $description-color;
        }
      }
    }
  }

  .menu__item-link {
    &:hover,
    &:active,
    &:focus {
      color: $hover-color;
    }
  }

  .submenu {
    @include list-reset();
    font-size: inherit;
    display: none;

    position: absolute;
    bottom: -80px;
    left: -80px;
    text-align: left;
  }

  .submenu__item {
    padding: 10px 15px;
    border: 1px solid $border-color;
    background-color: $second-font-color;
  }

  .submenu__item-link {
    color: inherit;
    text-decoration: inherit;

    &:hover,
    &:active,
    &:focus {
      color: $hover-color;
    }
  }
}
