.top-nav {
  a {
    color: $description-color;
    text-decoration: none;
    text-align: left;
  }

  &--local {
    order: -1;
    margin-right: auto;
  }
}

.top-nav__locations {
  @include list-reset();
}

.top-nav__info {
  @include list-reset();
}

.top-nav__phone {
  display: none;
}

.top-nav__locations-item {
  padding: 15px 40px;
  padding-right: 115px;
  border: 1px solid $border-color;
  border-top: none;
  text-align: left;

  &--your {
    color: $icon-color;
    font-weight: normal;

    .top-nav__locations-ico {
      display: none;
    }

    &::before {
      content: "Город | ";
      font-size: inherit;
      color: $description-color;
      font-weight: bold;
      margin-right: 10px;
    }
  }
}

.top-nav__info-item {
  padding: 15px 20px;
  border: 1px solid $border-color;
  border-top: none;
  background-color: $menu-background;

  a {
    color: $second-font-color;
  }
}

@media (min-width: $desktop-width) {
  .top-nav {
    font-size: 14px;

    &--local {
      display: flex;
      order: 0;
    }

    &--info {
      text-align: left;
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    a {
      &:hover,
      &:active,
      &:focus {
        color: $hover-color;
      }
    }
  }

  .top-nav__locations-item {
    padding: 15px 10px;
    border: none;
    text-align: left;

    &--your {
      &::before {
        content: "";
      }

      .top-nav__locations-ico {
        display: inline;
        width: 15px;
        height: 15px;
      }
    }
  }

  .top-nav__info {
    display: flex;
  }

  .top-nav__info-item {
    border: none;
    background-color: transparent;

    a {
      color: $description-color;
    }
  }

  .top-nav__phone {
    display: initial;
    font-weight: bold;
    font-size: 16px;
  }
}
