.user-nav {
  order: -2;

  ul {
    @include list-reset();
  }

  &--close {
    display: none;
  }
}

.user-nav__account {
  text-align: center;
}

.user-nav__account-item {
  padding: 15px 10px;
  border: 1px solid $border-color;

  &:not(:first-child) {
    border-top: none;
  }

  a {
    text-decoration: none;
    color: $description-color;
  }
}
