$tablet-width: 768px;
$desktop-width: 1200px;
$second-font-color: #ffffff;
$title-color: #000000;
$description-color: #333333;
$notice-color: #979797;
$background-color: #f9f9f9;
$blue-background: #0096db;
$dark-blue: #001e39;
$hover-color: #ed1c24;
$shadow-color: #c4c4c4;
$icon-color: #9c9c9c;
$border-color: rgba(156, 156, 156, 0.5);
$menu-background: #3a3e41;
$main-font: "Styrene A", arial, sans-serif;
