$tablet-width: 768px;
$desktop-width: 1300px;
$second-font-color: #ffffff;
$title-color: #000000;
$description-color: #333333;
$notice-color: #979797;
$background-color: #f9f9f9;
$blue-background: #0096db;
$hover-color: #ed1c24;
$shadow-color: #c4c4c4;
$main-font: "Styrene A", arial, sans-serif;
